<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>管理员-校史校情知识竞赛2018</title>
	<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<!--[if lt IE 9]>
	<script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="js/json2.js"></script>
	<![endif]-->
	<script src="js/jquery-form.js"></script>
	<script src="js/department-helper.js" type="text/javascript" charset="utf-8"></script>
	<link href="view/css.css" type="text/css" rel="stylesheet" />
</head>
<body>

	<h1>院系管理员页面</h1>

	<div>
		<span>你好,</span>
		<span id="admin_id"></span>
		<span>系管理员.</span>
		<input type="button" value="退出" onclick="onLogoutSubmit();">
	</div>
	<input type='button' value='刷新数据' onclick="onRequestGrades();">
	<div>
		<h3>本院系数据(数据即时更新)</h3>
		<div id='grade_table'>
			<!--此处是js动态生成的成绩表格,去department-helper.js中搜索"grade_table"查看.-->
		</div>
	</div>
	
	<div>
		<h3>其他院系数据(数据每分钟更新一次)</h3>
		<div id='stat_table'>
		</div>
	</div>
	

</body>
</html>
