<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>登录-校史校情知识竞赛2018</title>
	<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<!--[if lt IE 9]>
	<script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="js/json2.js"></script>
	<![endif]-->
	<script src="js/jquery-form.js"></script>
    <script src="js/index-helper.js" type="text/javascript" charset="utf-8"></script>
    <link href="view/css.css" type="text/css" rel="stylesheet" />
</head>

<body>
<div id="userState"></div>
<div id="prompt"> </div>

<div id="login" style="display:none;">

	<form id="FORM_login" action="login_handler.php" method="post">
		<label class="title">登录您的账户</label>
		<br/><br/>
		<label class="username">用户名</label><input class="input_username" type="text" name="username" placeholder="Account"/>
        <br/><br/>
        <label class="password">密&nbsp;码</label><input class="input_password" type="password" name="password" placeholder="Password"/>
        <br/>
        <input type="submit" value="登录"/>
        <br/>
	</form>
	<div style="overflow-y:scroll;height: 90px">
		用户名 密码 (admin开头是管理员账号) <br>
			213170000   09017000      <br>
            213170001   08017001      <br>
            213170002   08017002      <br>
            213170003   08017003      <br>
            213170004   07017004      <br>
            213170005   09017005      <br>
            213170006   09017006      <br>
            213170007   07017007      <br>
            213170008   07017008      <br>
            213170009   07017009      <br>
            213170010   07017010      <br>
            213170011   05017020      <br>
            213170012   09017030      <br>
            213170013   06017040      <br>
            213170014   05017050      <br>
            213170015   05017060      <br>
            213170016   05017070      <br>
            admin09   	123456      <br>
            admin08   	123456      <br>
            admin07   	123456      <br>
            admin06   	123456      <br>
            admin05   	123456  
	</div>
	
</div>



<div id="logout" style="display:none;">
<input type="button" id="logout_submit" value="退出" onclick="onLogoutSubmit();">
</div>

<!--check score是已经完成考试的考生再次登录或刷新页面时显示的布局,大致内容是显示个人信息和成绩-->
<div id="check_score" style="display:none;">
	<span>登录名为</span>
	<span id="check_score_NAME">xx</span>
	<span>的同学,你已经完成考试,成绩是</span>
	<span id="check_score_SCORE">xx</span>
	<span>分.</span>
</div>

</body>
</html>