<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>校史校情知识竞赛2018</title>
	<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="view/jquery-form.js"></script>
    <script src="view/index-helper.js" type="text/javascript" charset="utf-8"></script>
    <script src="view/formbinder4index.js"></script>
    <link href="view/css.css" type="text/css" rel="stylesheet" />
</head>

<body>
<div id="userState"></div>
<div id="prompt">hello?</div>

<div id="login" style="display:none;">
	<form id="FORM_login" action="login_handler.php" method="post">
		<label class="title">登录您的账户</label>
		<br/><br/>
		<label class="username">用户名</label><input class="input_username" type="text" name="username" placeholder="Account"/>
        <br/><br/>
        <label class="password">密&nbsp;码</label><input class="input_password" type="password" name="password" placeholder="Password"/>
        <br/>
        <input type="submit" value="登录"/>
        <br/>
	</form>
</div>

<div id="exam_loading" style="display:none;">试题加载中...</div>

<div id="before_exam" style="display:none;">
<input id="exam_request" type="button" value="开始考试(第一次)" onclick="onExamRequest();">
</div>

<div id="logout" style="display:none;">
<input type="button" id="logout_submit" value="退出" onclick="onLogoutSubmit();">
</div>

<div id="exam" style="display:none;">
	<div>
		<h3>
		<div id="exam_TIME" style="display:none;">
			<span>考试时间还剩</span>
			<span id="exam_SECOND"></span>
			<span>秒</span>
		</div>
		<div id="exam_TIME_OUT" style="display:none;">
			考试结束,将自动提交试卷.
		</div>
		</h3>
	</div>
	<div>题目</div>
	<div style="display:none;">
		<div>问题</div> 
		<div>
		<input type="radio" value="A" name="exam_options"><span></span>
		<input type="radio" value="B" name="exam_options"><span></span>
		<input type="radio" value="C" name="exam_options"><span></span>
		<input type="radio" value="D" name="exam_options"><span></span>
		</div>
	</div>
	<div style="display:none;">
		<div>问题</div>
		<div>
		<input type="radio" value="T" name="exam_judge"><span>正确</span>
		<input type="radio" value="F" name="exam_judge"><span>错误</span>
		</div>
	</div>
	<input type="button" value="上一题">
	<input type="button" value="下一题">
</div>

<!--exam finish是成功交卷后跳转的布局,大致内容是显示考试结果以及重置页面倒计时-->
<div id="exam_finish" style="display:none;">
	<div>
		<span>考试结束,已自动注销,本页将于</span>
		<span id="exam_finish_TIME"></span>
		<span>秒后重置,重置后你将无法查看到错题信息.</span>
	</div>

	<div id="exam_finish_SCORE">
	</div>
</div>

<!--check score是已经完成考试的考生再次登录或刷新页面时显示的布局,大致内容是显示个人信息和成绩-->
<div id="check_score" style="display:none;">
	<span>登录名为</span>
	<span id="check_score_NAME">xx</span>
	<span>的同学,你已经完成考试,成绩是</span>
	<span id="check_score_SCORE">xx</span>
	<span>分.</span>
</div>



</body>
<script>

/*
 flag是页面刚打开时服务器传过来的一个变量,用来标记用户登录状态
 在下面页面初始化的时候用到flag,其他地方没有任何用处
 */

/*
 flag是页面刚打开时服务器传过来的一个变量,用来标记用户登录状态
 在下面页面初始化的时候用到flag,其他地方没有任何用处

 事实上,服务器传过来的是sysParam数组
 sysParam['flag']登录状态
 sysParam['username']用户名(如果登录了的话)
 sysParam['time_limit']考试时间限制
*/

/*
user_name和user_score和exam_time_limit是全局变量,声明请自行查找
*/

if(sysParam['username']){
	user_name=sysParam['username'];
}

exam_time_limit=sysParam['time_limit'];

switch(sysParam['flag']){
case 'not_login':
	setLayout('login');
	break;
case 'already_login':
	if(sysParam['score']){
		user_score=sysParam['score'];
		setLayout('check_score');
	}else{
		setLayout('before_exam');
	}
	break;
}



</script>

</html>